@media(max-width:450px){
  .title {
    font-size: 18px;
    line-height: 18px;
  }
  .info__date {
    margin-right: 10px;
    font-size: 12px;
    line-height: 12px;
}
.app__dashboard {
    height: 65vh;
    grid-row-gap: 8px;
    row-gap: 8px;
}

.dashboard {
  &__elem {
    border-radius: 10px;
  }
   &__elem-title{
      font-size: 17px;
      line-height: 17px;  
  }
}
}