@media (max-width:800px) {
  #js{
    font-size: 40px;
  }
  #react{
    font-size: 18px;
    img{
      width: 69%;
    };
  }
  #layout{
    font-size: 16px;
    img{
      margin-top: 5px;
      width: 69%;
    };
  }
}