.ideas {
  background-color: $red;
  background-image: url("../img/idea.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 95%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  &-title{
    z-index: 5;
    color: $light-text;
    margin: 0 0 12px 0;
  }
  &-img{
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 95%;
    top: 50%;
    transform: translateY(-50%);
  }
}