
%Roboto-light{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}
%Roboto-regular{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

%Roboto-medium{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

%Roboto-bold{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%Roboto-black{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
}
