
%Baloo-regular{
  font-family: 'Baloo Tamma 2', cursive;
  font-style: normal;
  font-weight: normal;
}

%Roboto-medium{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}