
// Main colors
$background-color:#21232B;
$main-color: #F3E9D2;
$second-color: #CB79F1;

$light-text: #fff;
$dark-text: #343434;

// ---Other colors
$red: #EF6A6A;
$green: #7BAC86;
$blue: #7B8CE7;
$yellow: #EFF179;
$orange: #E3844E;
$pink: #CB79F1;
$black: #404040;
$grey: #E1DAC9; 

// ---Tech colors
$js-color: #EFF179;
$react-color: #303031;
$layout-color: #FFA3A3;

// Activities colors
$animspeed: 300ms;
