$bg-color: #F68B4E;
$syncPannel-color: #303031;
$toolbarPannel-color: #885335;
// ------------------------------
$clock-color: #737373;
$title-color: #000;
$img-color: #353337;
$outline-color: #CB79F1; 
$animspeed: 300ms;